.category {
    margin: 36px auto;
    background-color: #fff;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px #ccc;

    h2 {
        font-size: max(2vw, 24px);
        // font-weight: 600;
        margin-bottom: 20px;
    }

    .container {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        grid-gap: 20px;

        .item {
            background: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            text-align: center;

            &:hover {
                transform: scale(1.05);
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
            img {
                margin: auto;
                max-width: 60%;
                height: auto;
                object-fit: cover;
                border: 1px solid var(--primary-color);
                border-radius: 50%;
                margin-bottom: 10px;
            }
            span {
                display: block;
                font-size: 16px;
                color: var(--text-color);
            }
        }
    }
}
