.listproduct {
    background-color: white;
    padding: 24px 0;
    margin-bottom: 24px;
    h2 {
        font-size: max(2vw, 24px);
        // font-weight: 600;
    }
    .list {
        padding: 12px ;
        margin-bottom: 24px;
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
        row-gap: 50px;
    }
}